body{
 background: black;
}

/*DROPDOWN MENU STARTS*/
/*Dropdown Icon*/
.material-icons.md-20{
  font-size: 25px;
  color: gold;
}
/* Dropdown Button */
.dropbtn {
  background-color: rgba(90, 81, 27, 0.397);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(90, 81, 27, 0.397);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*DROPDOWN MENU ENDS*/

/*NAVBAR DETAILS START
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background:rgba(68, 61, 20, 0.397)
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#navbar a:hover {
  background: black;
}
/*NAVBAR DETAILS END*/

/*MAIN SECTION STARTS*/
/*Rose Jean Louis*/
#Home .Headline h1{
text-align: center;
margin-top: 20%;
color: white;
font-size: 50px;
line-height: 12px;
}
/*Description Text*/
#Home .Headline p{
color:white;
position: relative;
text-align: center;
font-size: 20px;
line-height: 15px;
}
/*MAIN SECTION ENDS*/

/*ABOUT ME SECTION STARTS*/
#aboutMe .bio h1{
  color: white;
  position: relative;
  top: 100px;
  font-size: 35px;
  text-align: center;
}
/*ABOUT ME SECTION STARTS*/
.column{
  position: relative;
  top: 150px;
}
/*WORK EXPERIENCE SECTION STARTS*/
/*Adding calendar icons*/
.material-icons.md-16{
  font-size: 10px;
  color: gold;
}
/*Aligning work and education next to one another*/
.column{
  float:left;
  margin: 0 15px 25px;
  
}
/*Content and format of work and education*/
#the_job .work h1{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  }

#the_job .Uncle_Ray ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }
 
#the_job .NASA ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;  
  font-size: large;
  }

#the_job .FIU ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle; 
  font-size: large;
  }

/*WORK EXPERIENCE SECTION ENDS*/

/*EDUCATION SECTION BEGINS*/
#schooling .studies h1{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  }

#schooling .Fl_Uni ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }

#schooling .Uni_deg ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }

#schooling .MDC ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }
/*EDUCATION SECTION ENDS*/

/*CONTACT ME PAGE STARTS*/

#beep_me .call_me{
  color:white;
  position: relative;
  top: 100px;
  font-size: large;
}
#beep_me .call_me div{
  text-indent: 12px;
}

#beep_me .call_me h1{
  text-align: center;
}

#container .form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 100px;
  
}

input[type=text]{
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}

input[type=subject]{
  width: 43%;
  padding: 60px;
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

input[type=submit] {
  background-color: rgba(90, 81, 27, 0.397);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

input[type=submit]:hover {
  background-color: black;
}

script{
margin-bottom: 10%;
}

