body {
  background-color:black;
}

/*NAVBAR DETAILS START*/
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background:rgba(68, 61, 20, 0.397)
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#navbar a:hover {
  background: black;
}
/*NAVBAR DETAILS END*/

/*HEADSHOT SECTION STARTS*/
.Headshot img{
float: right;
height: 400px;;
width: auto;
margin-top: 10%;
margin-left: 10%;
}
/*Headshot border*/
.Headshot img{
border-style:solid;
border-width: 8px;
border-color: rgba(90, 81, 27, 0.397);
border-image: 50px;
}
/*HEADSHOT SECTION ENDS*/

/*MAIN SECTION STARTS*/
/*Rose Jean Louis*/
#Home .Headline h1{
text-align: center;
margin-top: 20%;
color: white;
font-size: 50px;
line-height: 12px;
}
/*Description Text*/
#Home .Headline p{
color:white;
position: relative;
text-align: center;
font-size: 20px;
line-height: 15px;
}
/*MAIN SECTION ENDS*/

/*ABOUT ME SECTION STARTS*/
#aboutMe .bio h1{
  color: white;
  position: relative;
  top: 100px;
  font-size: 35px;
  text-align: center;
}
/*ABOUT ME SECTION STARTS*/
.column{
  position: relative;
  top: 150px;
}
/*WORK EXPERIENCE SECTION STARTS*/
/*Adding calendar icons*/
.material-icons.md-16{
  font-size: 10px;
  color: gold;
}
/*Aligning work and education next to one another*/
.column{
  float:left;
  margin: 0 15px 25px;
  
}
/*Content and format of work and education*/
#the_job .work h1{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  }

#the_job .Uncle_Ray ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }
 
#the_job .NASA ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;  
  font-size: large;
  }

#the_job .FIU ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle; 
  font-size: large;
  }

/*WORK EXPERIENCE SECTION ENDS*/

/*EDUCATION SECTION BEGINS*/
#schooling .studies h1{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  }

#schooling .Fl_Uni ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }

#schooling .Uni_deg ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }

#schooling .MDC ol{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style-type: circle;
  font-size: large;
  }
/*EDUCATION SECTION ENDS*/

/*CONTACT ME PAGE STARTS*/
/*Adding icons*/
.material-icons.md-18{
  font-size: 10px;
  color: gold;
}
#beep_me .call_me{
  color:white;
  position: relative;
  top: 100px;
  font-size: large;
}
#beep_me .call_me div{
  text-indent: 12px;
}

#beep_me .call_me h1{
  text-align: center;
}

#container .form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 100px;
  
}

input[type=text]{
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}

input[type=subject]{
  width: 43%;
  padding: 60px;
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

input[type=submit] {
  background-color: rgba(90, 81, 27, 0.397);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

input[type=submit]:hover {
  background-color: black;
}

script{
margin-bottom: 10%;
}

